body {
  background-color: #f8f9fa; }

.br-sideleft {
  background-color: #fff; }
  @media (min-width: 992px) {
    .br-sideleft {
      border-right: 1px solid #ced4da; } }

.br-logo {
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.16); }

.sidebar-label {
  color: #adb5bd;
  opacity: 1; }
  .sidebar-label.tx-info {
    color: #17A2B8; }

.br-menu-link {
  color: #6c757d; }
  .br-menu-link.with-sub::after {
    color: #adb5bd; }
  .br-menu-link:hover, .br-menu-link:focus {
    color: #495057;
    background-color: #e9ecef; }
  .br-menu-link:focus, .br-menu-link:active {
    outline: none; }
  .br-menu-link.show-sub {
    background-color: #e9ecef;
    color: #495057; }
  .br-menu-link.active {
    color: #fff; }
    .br-menu-link.active::after {
      color: #fff; }

.br-menu-sub {
  background-color: #f8f9fa; }
  .br-menu-sub .sub-link {
    color: #6c757d; }
    .br-menu-sub .sub-link::before {
      background-color: #6c757d; }

.info-list .info-list-label {
  color: #6c757d; }

.info-list .info-list-amount {
  color: #343a40;
  font-weight: 700; }

.br-pageheader {
  background-color: #e9ecef; }

.br-sideright {
  background-color: #fff; }
  .br-sideright .more {
    color: #ced4da;
    opacity: 1; }
    .br-sideright .more:hover, .br-sideright .more:focus {
      color: #17A2B8; }
  .br-sideright .switch-button-background {
    background-color: #adb5bd; }
    .br-sideright .switch-button-background.checked {
      background-color: #1CAF9A; }

.sidebar-tabs {
  background-color: #e9ecef; }
  .sidebar-tabs .nav-link {
    color: #6c757d;
    border: 0;
    padding: 13px 24px;
    border-radius: 0; }
    .sidebar-tabs .nav-link.active {
      background-color: #fff;
      color: #1CAF9A; }
  .sidebar-tabs .nav-item:first-child .nav-link {
    border-left: 0; }

.contact-list-link {
  color: #495057; }
  .contact-list-link.new {
    background-color: #f8f9fa; }
  .contact-list-link:hover, .contact-list-link:focus {
    color: #343a40;
    background-color: #e9ecef; }

.contact-status-indicator {
  border-color: #fff; }

.media-file-list .media-body {
  color: #343a40; }

.br-time {
  color: #343a40; }

.br-date {
  color: #6c757d; }

.sidebar-datepicker .ui-datepicker-inline {
  border: 1px solid #dee2e6; }
  .sidebar-datepicker .ui-datepicker-inline .ui-datepicker-title {
    color: #17A2B8; }

.sidebar-datepicker .ui-datepicker-header {
  color: #6c757d; }
  .sidebar-datepicker .ui-datepicker-header .ui-datepicker-next:hover::before, .sidebar-datepicker .ui-datepicker-header .ui-datepicker-next:focus::before,
  .sidebar-datepicker .ui-datepicker-header .ui-datepicker-prev:hover::before,
  .sidebar-datepicker .ui-datepicker-header .ui-datepicker-prev:focus::before {
    color: #17A2B8; }

.sidebar-datepicker .ui-datepicker-calendar thead th {
  color: #343a40; }

.sidebar-datepicker .ui-datepicker-calendar .ui-state-default {
  color: #6c757d; }
  .sidebar-datepicker .ui-datepicker-calendar .ui-state-default:hover, .sidebar-datepicker .ui-datepicker-calendar .ui-state-default:focus {
    background-color: #e9ecef;
    color: #17A2B8; }

.sidebar-datepicker .ui-datepicker-calendar .ui-datepicker-today .ui-state-default {
  color: #17A2B8;
  border-color: #17A2B8; }

.sidebar-event-list .list-group-item {
  border-color: #dee2e6; }
  .sidebar-event-list .list-group-item h6 {
    color: #343a40; }
  .sidebar-event-list .list-group-item p {
    color: #6c757d; }

.sidebar-settings-item {
  color: #343a40; }
  .sidebar-settings-item .form-control {
    background-color: #fff;
    border-color: #ced4da;
    color: #495057; }

.br-subleft {
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6; }

.br-nav-mailbox .nav-link {
  color: #6c757d; }
  .br-nav-mailbox .nav-link:hover, .br-nav-mailbox .nav-link:focus {
    background-color: #e9ecef;
    color: #17A2B8; }
  .br-nav-mailbox .nav-link.active {
    background-color: #e9ecef;
    color: #17A2B8; }

.rtl .br-sideleft {
  border-right: 0; }
  @media (min-width: 992px) {
    .rtl .br-sideleft {
      border-left: 1px solid #ced4da; } }

.rtl .sidebar-tabs .nav-link {
  width: 100%;
  text-align: center; }

.rtl .br-subleft {
  background-color: #f8f9fa;
  border-left: 1px solid #dee2e6;
  border-right: 0; }
